
Temp/*
Library/*
obj/*
obj/Debug/*
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
